body {
    font-family: 'Open Sans';
    margin: 0px;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 10px 12px 10px;
}

.fix-navigation {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #fff;
    height: 100px;
}

.nav-logo {
    width: 30%;
    display: inline-block;
    margin: 0px;
    vertical-align: top;
}

.right-nav {
    float: right;
    margin: 0px;
    padding: 0px 10px 0px 0px;
}

.right-nav li.nav {
    display: inline-block;
    padding: 4px 10px 4px;
    font-size: 15px;
    font-weight: bold;
}

.right-nav li.nav .tuitt-button,
.apply-button {
    border-style: none;
    border-radius: 10px;
    color: #fff;
    padding: 7px 12px 7px;
    background-color: #c2195b;
    font-size: 18px;
    font-weight: bold;
}

.content-container {
    margin: 102px 0px 0px;
}

.book-button {
    border-style: none;
    border-radius: 10px;
    color: #fff;
    padding: 7px 12px 7px;
    background-color: #336589;
    font-size: 18px;
    font-weight: bold;
}

.front-bg {
    background-color: #000;
}

.bg-container {
    display: table;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
    background-position: center top;
    height: 420px;
    background-size: 100%;
    background-position-y: -450px;
    background-position-x: 0px;
}

.container .text {
    opacity: 100%;
    opacity: 100%;
    color: #fff;
    text-align: right;
    float: right;
    padding: 0px 30px 0px;
}

.container .text .title {
    font-size: 40px;
    width: 500px;
    margin: 0px;
    font-family: Zilla Slab;

}

.container .text .subtitle {
    font-size: 20px;
    width: 500px;
}

.title-2 {
    text-align: center;
    font-size: 30px;
    font-family: Zilla Slab;
}

.description {
    padding: 35px 15px 35px;
    font-size: 12px;
}

.pre-footer,
footer {
    background-color: #f7fbfb;
    text-align: center;
}

